<center>
<figure class="table" style="font-family:Segoe UI Light;font-weight:300;width:50%;">
    <table class="ck-table-resized" style="border:3px solid black;">
        <colgroup><col style="width:25%;"><col style="width:75%;"></colgroup>
        <tbody>
            <tr>
                <td style="Background-Color:$EventColor;" colspan="2">
                    <span style="color:#ffffff;font-family:Segoe UI Semibold;font-size:22px;"><u>$EventName</u></span>
                </td>
            </tr>
            <tr>
                <td style="font-family:Segoe UI Semibold;">
                    Computer:
                </td>
                <td>
                    <strong>$ComputerName</strong>
                </td>
            </tr>
            <tr>
                <td style="font-family:Segoe UI Semibold;">
                    Task:
                </td>
                <td>
                    $TaskName
                </td>
            </tr>
            <tr>
                <td style="font-family:Segoe UI Semibold;">
                    Status:
                </td>
                <td>
                    <span style="color:$StatusColor;"><strong>$EventStatus</strong></span>
                </td>
            </tr>
            <tr>
                <td style="font-family:Segoe UI Semibold;">
                    Date:
                </td>
                <td>
                    $EventDate
                </td>
            </tr>
            <tr>
                <td style="font-family:Segoe UI Semibold;">
                    Time:
                </td>
                <td>
                    $EventTime
                </td>
            </tr>
        </tbody>
    </table>
</figure>
</center>